.add-post-modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(108, 122, 137, .5);
    border-radius: 12px;
    background-color: white;
    max-width: 720px;
    height: fit-content;
    margin-top: 10%;
    box-sizing: border-box;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
  /* When the modal is opened */
  .modal-overlay.ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  /* When the modal is closing */
  .modal-overlay.ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  /* Modal content */
  .add-post-modal {
    position: relative;
    background: white;
    padding: 20px;
    max-width: 720px;
    width: 100%;
    border-radius: 4px;
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  
  /* When the modal is opened */
  .add-post-modal.ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* When the modal is closing */
  .add-post-modal.ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-50px);
  }
  

.posts-wrapper {
    padding: 2rem;
}
