.post-list-wrapper {
    margin-top: 16px;
}

.post-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
} 

.post-list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
    border: 1px solid rgba(145, 145, 145, 0.5);
    border-radius: 8px;
    padding: 16px;
}
.post-list-cta {
    display: flex;
    gap: 8px;
}